
@import 'variables';
@import 'mixins';

header {
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

h1 {
  font-family: 'Rock Salt', ;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  display: flex;
}

body {
  background: url('../images/katie-drazdauskaite-JoKpX_JjY-A-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#summary-view {
  @include dashboard;
}

#right-dashboard {
  @include dashboard;
}

.dashboard {
  background-color: $dashboard-view;
}

.hidden {
  visibility: hidden;
}

#trip-request {
  @include flex;
}

#destination-images {
  text-align: center;
}

.destination-image {
  height: 300px;
}

label,
.book-trip {
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
@include button;
}

// media queries
@media only screen and (max-width: 900px) {
  main {
   @include flex;
  }

  #summary-view,
  #right-dashboard {
    height: auto;
    width: 100%
  }

  .destination-image {
    height: 230px;
    margin-left: -9%;
  }

  #trip-request {
    width: 70%;
  }
}
