/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #003049;
$header-background: white;
$button-color: #566E3D;
$user-color: #06908F;
$header-color: white;
$dashboard-view: white;


@mixin dashboard {
  height: 100vh;
  padding: 5%;
  width: 50%;
}

@mixin input {
  box-shadow: 5px 10px;
  width: 85%
}

header {
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

h1 {
    font-family: 'Rock Salt', ;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
}

main {
  display: flex;
}

  body {
  background: url('../images/katie-drazdauskaite-JoKpX_JjY-A-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#summary-view {
    @include dashboard;
}

#right-dashboard {
  @include dashboard;
}

.dashboard {
  background-color: $dashboard-view;
}

.hidden {
  visibility: hidden;
}

#trip-request {
  display: flex;
  flex-direction: column;
}

#destination-images {
  text-align: center;
}

.destination-image {
  height: 300px;
}

label,
.book-trip {
  margin-bottom: 20px;
  margin-top: 20px;
}
